@import '@blueprintjs/core/lib/css/blueprint.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


form{
    box-sizing: border-box;
    border: px solid white;
    box-shadow: 0px 0px 15px black;
}